<article class="card">
  <h3 class="card-title">
    <a class="card-link" [routerLink]="['/projects', project().slug]">{{ title() }}</a>
  </h3>

  <p class="card-summary">{{ project().summary[i18n.lang()] }}</p>

  <p class="card-meta">
    <time [attr.datetime]="project().period.start">{{ period() }}</time>
  </p>

  @if (tech().length) {
    <ul class="tag-list">
      @for (item of tech(); track item.name) {
        <li class="tag" [attr.data-accent]="item.accent">{{ item.name }}</li>
      }
    </ul>
  }
</article>
